# WARNING: radios/options vary by hardware. Keep it minimal.
config wifi-device '{{ wireless_config.device }}'
        option type 'mac80211'
        option country '{{ wireless_config.country }}'
        option disabled '0'

config wifi-iface 'default_{{ wireless_config.device }}'
        option device '{{ wireless_config.device }}'
        option mode 'ap'
        option network '{{ wireless_config.network }}'
        option ssid '{{ wireless_config.ssid }}'
        option encryption '{{ wireless_config.encryption }}'
        option key '{{ wireless_config.key }}'
