config system
        option hostname '{{ base_system.hostname }}'
        option timezone '{{ base_system.timezone }}'
        option zonename '{{ base_system.zonename }}'

config timeserver 'ntp'
        option enabled '1'
{% for s in base_system.ntp_servers %}
        list server '{{ s }}'
{% endfor %}
